body{
background-image: url('https://images.wallpaperscraft.com/image/line_obliquely_background_band_black_69473_1920x1080.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
 background-size: cover;
}
